<form method="post" action="/programs">
<h1>Add a New Program</h1><br><br>
<p>Title: <input type="text" name="title"></p>
<p>Movie or Show: <input type="text" name="movie_or_show"></p>
<p>Summary: <input type="text" name="summary"></p>
<p>Streaming Service: <input type="text" name="streaming_service"></p>
<button type="submit" value="submit">Submit</button>
</form>
<br><br><br>

<li><a href="/">Back to Main Page</a></li>



<style>
    h1, p, form, li {
        text-align: center;
      }
</style>