<h3>Log In Please</h3><br><br>
    <form method="post" action="/login">
      <p>Username: <input type="text" name="username"></p>
      <p>Password: <input type="password" name="password"></p>
      <button type="submit" value="submit">Log In</button>
    </form><br><br><br><br>

    <li><a href="/">Back</a></li>
  
    <style>
    h1, h3, p, form, li {
        text-align: center;
      }
    </style>

  