<div class="sign up section">
<h1>Sign up Below!</h1><br>
<% if @error %>
<% @error.each do |e| %>
  <p> <%= e %> </p>
  <% end %>
  <% end %>
<form class="signup" action="/signup" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name" placeholder="Name" required><br><br>
  <label for="username">Username:</label>
  <input type="text" name="username" id="username" placeholder="Username" required><br><br>
  <label for="password">Password:</label>
  <input type="password" name="password" id="password" placeholder="Password" required><br><br>
  <input type="submit" value="Create Account">
</form><br><br><br>

<li><a href="/">Back</a></li>
</div>

<style>
    p {
        color: red;
        text-align: center;
      
    }

    h1, form, li {
        text-align: center;
    }

  

</style>